[Unit]
Description=Montagu staging VMs
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=__PATH__
User=__USER__
ExecStart=__PATH__/systemctl/start
ExecStop=__PATH__/systemctl/stop
Type=oneshot
RemainAfterExit=yes
